<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mapper.FinanceMapper" >
  <resultMap id="BaseResultMap" type="po.Finance" >
    <id column="fid" property="fid" jdbcType="VARCHAR" />
    <result column="detail" property="detail" jdbcType="VARCHAR" />
    <result column="fmoney" property="fmoney" jdbcType="DECIMAL" />
    <result column="fdate" property="fdate" jdbcType="DATE" />
    <result column="earnorpay" property="earnorpay" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    fid, detail, fmoney, fdate, earnorpay, type
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="po.FinanceExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from finance
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from finance
    where fid = #{fid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from finance
    where fid = #{fid,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="po.FinanceExample" >
    delete from finance
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="po.Finance" >
    insert into finance (fid, detail, fmoney, 
      fdate, earnorpay, type
      )
    values (#{fid,jdbcType=VARCHAR}, #{detail,jdbcType=VARCHAR}, #{fmoney,jdbcType=DECIMAL}, 
      #{fdate,jdbcType=DATE}, #{earnorpay,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="po.Finance" >
    insert into finance
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="fid != null" >
        fid,
      </if>
      <if test="detail != null" >
        detail,
      </if>
      <if test="fmoney != null" >
        fmoney,
      </if>
      <if test="fdate != null" >
        fdate,
      </if>
      <if test="earnorpay != null" >
        earnorpay,
      </if>
      <if test="type != null" >
        type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="fid != null" >
        #{fid,jdbcType=VARCHAR},
      </if>
      <if test="detail != null" >
        #{detail,jdbcType=VARCHAR},
      </if>
      <if test="fmoney != null" >
        #{fmoney,jdbcType=DECIMAL},
      </if>
      <if test="fdate != null" >
        #{fdate,jdbcType=DATE},
      </if>
      <if test="earnorpay != null" >
        #{earnorpay,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="po.FinanceExample" resultType="java.lang.Integer" >
    select count(*) from finance
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update finance
    <set >
      <if test="record.fid != null" >
        fid = #{record.fid,jdbcType=VARCHAR},
      </if>
      <if test="record.detail != null" >
        detail = #{record.detail,jdbcType=VARCHAR},
      </if>
      <if test="record.fmoney != null" >
        fmoney = #{record.fmoney,jdbcType=DECIMAL},
      </if>
      <if test="record.fdate != null" >
        fdate = #{record.fdate,jdbcType=DATE},
      </if>
      <if test="record.earnorpay != null" >
        earnorpay = #{record.earnorpay,jdbcType=VARCHAR},
      </if>
      <if test="record.type != null" >
        type = #{record.type,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update finance
    set fid = #{record.fid,jdbcType=VARCHAR},
      detail = #{record.detail,jdbcType=VARCHAR},
      fmoney = #{record.fmoney,jdbcType=DECIMAL},
      fdate = #{record.fdate,jdbcType=DATE},
      earnorpay = #{record.earnorpay,jdbcType=VARCHAR},
      type = #{record.type,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="po.Finance" >
    update finance
    <set >
      <if test="detail != null" >
        detail = #{detail,jdbcType=VARCHAR},
      </if>
      <if test="fmoney != null" >
        fmoney = #{fmoney,jdbcType=DECIMAL},
      </if>
      <if test="fdate != null" >
        fdate = #{fdate,jdbcType=DATE},
      </if>
      <if test="earnorpay != null" >
        earnorpay = #{earnorpay,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=VARCHAR},
      </if>
    </set>
    where fid = #{fid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="po.Finance" >
    update finance
    set detail = #{detail,jdbcType=VARCHAR},
      fmoney = #{fmoney,jdbcType=DECIMAL},
      fdate = #{fdate,jdbcType=DATE},
      earnorpay = #{earnorpay,jdbcType=VARCHAR},
      type = #{type,jdbcType=VARCHAR}
    where fid = #{fid,jdbcType=VARCHAR}
  </update>
</mapper>