<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
       					   http://www.springframework.org/schema/beans/spring-beans.xsd
       					   http://www.springframework.org/schema/aop 
       					   http://www.springframework.org/schema/aop/spring-aop.xsd
       					       http://www.springframework.org/schema/tx 
       					       http://www.springframework.org/schema/tx/spring-tx.xsd">

	<!-- 1 datasource -->
	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
		<property name="driverClass" value="com.mysql.jdbc.Driver"></property>
		<property name="jdbcUrl" value="jdbc:mysql://localhost:3306/hello"></property>
		<property name="user" value="root"></property>
		<property name="password" value="123"></property>
	</bean>


	<!-- -->
	<bean id="accountDaoImpl" class="com.accountDao.impl.AccountDaoImpl">
		<property name="dataSource" ref="dataSource"></property>

	</bean>
	<!-- -->
	<bean id="accountServicImpl" class="com.accountService.impl.AccountServieImpl">
		<property name="dao" ref="accountDaoImpl"></property>

	</bean>
	<!--配置事物管理器 必须注入一个数据源 1 <bean id="txManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager"> 
		<property name="dataSource" ref="dataSource"></property> </bean> -->
	<bean id="txManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource"></property>
	</bean>
	
	<!-- advice 声明通知  attributes配置属性，propagation传播行为，isolation 隔离级别-->
	<tx:advice id="txAdvice" transaction-manager="txManager">
		<tx:attributes>
			<tx:method name="transfer" propagation="REQUIRED"
				isolation="DEFAULT" />
			<!-- <tx:method name="transfer*" propagation="REQUIRED" isolation="DEFAULT"/> -->
		</tx:attributes>
	</tx:advice>
    <!-- 配置aop 配置通知和切入点-->
	<aop:config>
		<aop:advisor advice-ref="txAdvice"
			pointcut="execution(* com.accountService.impl..*.*(..))" />
	</aop:config>


</beans>