<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>CourseSchedul</display-name>
  <welcome-file-list>
    <welcome-file>login.html</welcome-file>
    <welcome-file>login.htm</welcome-file>
    <welcome-file>login.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <!-- 2018-6-9 -->
  <servlet>
        <servlet-name>FindAllClassRoomServlet</servlet-name>
        <servlet-class>en.edu.lingnan.servlet.findAllClassRoomServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FindAllClassRoomServlet</servlet-name>
        <url-pattern>/admin/findAllClassRoomServlet</url-pattern>
    </servlet-mapping> 
     <!-- 2018-6-10 -->
  <servlet>
        <servlet-name>FindClassRoomByIDServlet</servlet-name>
        <servlet-class>en.edu.lingnan.servlet.findClassRoomByIDServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FindClassRoomByIDServlet</servlet-name>
        <url-pattern>/admin/findClassRoomByIDServlet</url-pattern>
    </servlet-mapping> 
     
   <servlet>
        <servlet-name>DeleteClassRoomByIdServlet</servlet-name>
        <servlet-class>en.edu.lingnan.servlet.DeleteClassRoomByIdServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteClassRoomByIdServlet</servlet-name>
        <url-pattern>/admin/deleteClassRoomByIdServlet</url-pattern>
    </servlet-mapping> 
    
       <servlet>
        <servlet-name>UpdateClassRoomServlet</servlet-name>
        <servlet-class>en.edu.lingnan.servlet.updateClassRoomServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateClassRoomServlet</servlet-name>
        <url-pattern>/admin/updateClassRoomServlet</url-pattern>
    </servlet-mapping> 
    <!-- 2018-6-11 ClassRoom-->
      <servlet>
        <servlet-name>AddClassRoomServlet</servlet-name>
        <servlet-class>en.edu.lingnan.servlet.AddClassRoomServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddClassRoomServlet</servlet-name>
        <url-pattern>/admin/addClassRoomServlet</url-pattern>
    </servlet-mapping> 
    
    <servlet>
        <servlet-name>FindAllUserServlet</servlet-name>
        <servlet-class>en.edu.lingnan.servlet.findAllUserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FindAllUserServlet</servlet-name>
        <url-pattern>/admin/findAllUserServlet</url-pattern>
    </servlet-mapping>  
    
     <servlet>
        <servlet-name>FindUserByidServlet</servlet-name>
        <servlet-class>en.edu.lingnan.servlet.findUserByidServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FindUserByidServlet</servlet-name>
        <url-pattern>/admin/findUserByidServlet</url-pattern>
    </servlet-mapping>  
    
    <servlet>
        <servlet-name>DeleteUserByidServlet</servlet-name>
        <servlet-class>en.edu.lingnan.servlet.DeleteUserByidServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteUserByidServlet</servlet-name>
        <url-pattern>/admin/deleteUserByidServlet</url-pattern>
    </servlet-mapping>   
    
      <servlet>
        <servlet-name>UpdateUserServlet</servlet-name>
        <servlet-class>en.edu.lingnan.servlet.updateUserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateUserServlet</servlet-name>
        <url-pattern>/admin/updateUserServlet</url-pattern>
    </servlet-mapping>
    <!-- 2018-6-11 ClassRoomUse-->
       <servlet>
        <servlet-name>FindAllClassRoomUseServlet</servlet-name>
        <servlet-class>en.edu.lingnan.servlet.findAllClassRoomUseServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FindAllClassRoomUseServlet</servlet-name>
        <url-pattern>/admin/findAllClassRoomUseServlet</url-pattern>
    </servlet-mapping>
  
     <servlet>
        <servlet-name>FindClassRoomUseByidServlet</servlet-name>
        <servlet-class>en.edu.lingnan.servlet.findClassRoomUseByidServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FindClassRoomUseByidServlet</servlet-name>
        <url-pattern>/admin/findClassRoomUseByidServlet</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>UpdateClassRoomUseServlet</servlet-name>
        <servlet-class>en.edu.lingnan.servlet.updateClassRoomUseServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateClassRoomUseServlet</servlet-name>
        <url-pattern>/admin/updateClassRoomUseServlet</url-pattern>
    </servlet-mapping>
    
  <!-- 2018-6-11-pm -->
    <servlet>
        <servlet-name>DeleteClassRoomUseByidServlet</servlet-name>
        <servlet-class>en.edu.lingnan.servlet.DeleteClassRoomUseByidServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteClassRoomUseByidServlet</servlet-name>
        <url-pattern>/admin/deleteClassRoomUseByidServlet</url-pattern>
    </servlet-mapping>    
    
     <servlet>
        <servlet-name>AddClassRoomUseServlet</servlet-name>
        <servlet-class>en.edu.lingnan.servlet.AddClassRoomUseServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddClassRoomUseServlet</servlet-name>
        <url-pattern>/admin/addClassRoomUseServlet</url-pattern>
    </servlet-mapping>
    
    
    
     
    <!-- 2018-6-11-evening -loginServlet -->
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>en.edu.lingnan.servlet.loginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/loginServlet</url-pattern>
    </servlet-mapping>  
    <!-- 2018-6-12 -->
     <servlet>
        <servlet-name>AddUserServlet</servlet-name>
        <servlet-class>en.edu.lingnan.servlet.AddUserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddUserServlet</servlet-name>
        <url-pattern>/admin/addUserServlet</url-pattern>
    </servlet-mapping>   
    
    <!-- 2018-6-13 -SearchUserServlet-->
     <servlet>
        <servlet-name>SearchUserServlet</servlet-name>
        <servlet-class>en.edu.lingnan.servlet.searchUserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SearchUserServlet</servlet-name>
        <url-pattern>/admin/searchUserServlet</url-pattern>
    </servlet-mapping>
    
       <!-- 2018.06.08 -chenxia-->
 	<servlet>
        <servlet-name>FirstServlet</servlet-name>
        <servlet-class>ServletTest.FirstServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FirstServlet</servlet-name>
        <url-pattern>/firstServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>FindStudentInfoServlet</servlet-name>
        <servlet-class>en.edu.lingnan.servlet.FindStudentInfoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FindStudentInfoServlet</servlet-name>
        <url-pattern>/admin/findStudentInfoServlet</url-pattern>
    </servlet-mapping>
    <!-- 2018.06.09 -->
 	<servlet>
        <servlet-name>DeleteStudentInfoServlet</servlet-name>
        <servlet-class>en.edu.lingnan.servlet.DeleteStudentInfoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteStudentInfoServlet</servlet-name>
        <url-pattern>/admin/deleteStudentInfoServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UpdateStudentInfoServlet</servlet-name>
        <servlet-class>en.edu.lingnan.servlet.UpdateStudentInfoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateStudentInfoServlet</servlet-name>
        <url-pattern>/admin/updateStudentInfoServlet</url-pattern>
    </servlet-mapping>
    <!-- 2018.06.11 -->
 	<servlet>
        <servlet-name>DeleteStudentInfoCheckServlet</servlet-name>
        <servlet-class>en.edu.lingnan.servlet.DeleteStudentInfoCheckServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteStudentInfoCheckServlet</servlet-name>
        <url-pattern>/admin/deleteStudentInfoCheckServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>FindStudentInfoByIdServlet</servlet-name>
        <servlet-class>en.edu.lingnan.servlet.FindStudentInfoByIdServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FindStudentInfoByIdServlet</servlet-name>
        <url-pattern>/admin/findStudentInfoByIdServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AddStudentInfoServlet</servlet-name>
        <servlet-class>en.edu.lingnan.servlet.AddStudentInfoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddStudentInfoServlet</servlet-name>
        <url-pattern>/admin/addStudentInfoServlet</url-pattern>
    </servlet-mapping>
    <!-- 2018.06.11 -->
 	<servlet>
        <servlet-name>FindAllClassScheduleInfoServlet</servlet-name>
        <servlet-class>en.edu.lingnan.servlet.FindAllClassScheduleInfoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FindAllClassScheduleInfoServlet</servlet-name>
        <url-pattern>/admin/findAllClassScheduleInfoServlet</url-pattern>
    </servlet-mapping>
     <!-- 2018.06.13 -->
 	<servlet>
        <servlet-name>FindAllClassScheduleInfoByClassIdServlet</servlet-name>
        <servlet-class>en.edu.lingnan.servlet.FindAllClassScheduleInfoByClassIdServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FindAllClassScheduleInfoByClassIdServlet</servlet-name>
        <url-pattern>/admin/findAllClassScheduleInfoByClassIdServlet</url-pattern>   
        </servlet-mapping> 
        
        
   <!-- 麦 --> 
   <!-- 2018.06.10 FindMajorIfoServlet -->
	<servlet>
		<servlet-name>FindMajorIfoServlet</servlet-name>
		<servlet-class>en.edu.lingnan.servlet.FindMajorIfoServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FindMajorIfoServlet</servlet-name>
		<url-pattern>/admin/findMajorIfoServlet</url-pattern>
	</servlet-mapping>
	
	<!-- 2018.06.10 FindClassIfoServlet -->
	<servlet>
		<servlet-name>FindClassIfoServlet</servlet-name>
		<servlet-class>en.edu.lingnan.servlet.FindClassIfoServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FindClassIfoServlet</servlet-name>
		<url-pattern>/admin/findClassIfoServlet</url-pattern>
	</servlet-mapping>
	
	<!-- 2018.06.10 FindClassScheduleServlet -->
	<servlet>
		<servlet-name>FindClassScheduleServlet</servlet-name>
		<servlet-class>en.edu.lingnan.servlet.FindClassScheduleServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FindClassScheduleServlet</servlet-name>
		<url-pattern>/admin/findClassScheduleServlet</url-pattern>
	</servlet-mapping>
	
	<!-- 2018.06.11 UpdateClassIfoServlet -->
	<servlet>
		<servlet-name>UpdateClassIfoServlet</servlet-name>
		<servlet-class>en.edu.lingnan.servlet.UpdateClassIfoServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UpdateClassIfoServlet</servlet-name>
		<url-pattern>/admin/updateClassIfoServlet</url-pattern>
	</servlet-mapping>
	
	<!-- 2018.06.11 UpdateMajorIfoServlet -->
	<servlet>
		<servlet-name>UpdateMajorIfoServlet</servlet-name>
		<servlet-class>en.edu.lingnan.servlet.UpdateMajorIfoServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UpdateMajorIfoServlet</servlet-name>
		<url-pattern>/admin/updateMajorIfoServlet</url-pattern>
	</servlet-mapping>
	
	<!-- 2018.06.11 UpdateClassScheduleServlet -->
	<servlet>
		<servlet-name>UpdateClassScheduleServlet</servlet-name>
		<servlet-class>en.edu.lingnan.servlet.UpdateClassScheduleServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UpdateClassScheduleServlet</servlet-name>
		<url-pattern>/admin/updateClassScheduleServlet</url-pattern>
	</servlet-mapping>
	
	<!-- 2018.06.12 DeleteClassIfoServlet -->
	<servlet>
		<servlet-name>DeleteClassIfoServlet</servlet-name>
		<servlet-class>en.edu.lingnan.servlet.DeleteClassIfoServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeleteClassIfoServlet</servlet-name>
		<url-pattern>/admin/deleteClassIfoServlet</url-pattern>
	</servlet-mapping>
	
	<!-- 2018.06.12 DeleteMajorIfoServlet -->
	<servlet>
		<servlet-name>DeleteMajorIfoServlet</servlet-name>
		<servlet-class>en.edu.lingnan.servlet.DeleteMajorIfoServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeleteMajorIfoServlet</servlet-name>
		<url-pattern>/admin/deleteMajorIfoServlet</url-pattern>
	</servlet-mapping>
	
	<!-- 2018.06.12 DeleteClassScheduleServlet -->
	<servlet>
		<servlet-name>DeleteClassScheduleServlet</servlet-name>
		<servlet-class>en.edu.lingnan.servlet.DeleteClassScheduleServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeleteClassScheduleServlet</servlet-name>
		<url-pattern>/admin/deleteClassScheduleServlet</url-pattern>
	</servlet-mapping>
	
	<!-- 2018.06.13 InsertClassIfoServlet -->
	<servlet>
		<servlet-name>InsertClassIfoServlet</servlet-name>
		<servlet-class>en.edu.lingnan.servlet.InsertClassIfoServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>InsertClassIfoServlet</servlet-name>
		<url-pattern>/admin/insertClassIfoServlet</url-pattern>
	</servlet-mapping>
	
	<!-- 2018.06.13 InsertMajorIfoServlet -->
	<servlet>
		<servlet-name>InsertMajorIfoServlet</servlet-name>
		<servlet-class>en.edu.lingnan.servlet.InsertMajorIfoServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>InsertMajorIfoServlet</servlet-name>
		<url-pattern>/admin/insertMajorIfoServlet</url-pattern>
	</servlet-mapping>
	
	<!-- 2018.06.13 InsertClassScheduleServlet -->
	<servlet>
		<servlet-name>InsertClassScheduleServlet</servlet-name>
		<servlet-class>en.edu.lingnan.servlet.InsertClassScheduleServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>InsertClassScheduleServlet</servlet-name>
		<url-pattern>/admin/insertClassScheduleServlet</url-pattern>
	</servlet-mapping>
	
	<!-- 2018.06.13 DeleteClassIfoCheckServlet -->
	<servlet>
		<servlet-name>DeleteClassIfoCheckServlet</servlet-name>
		<servlet-class>en.edu.lingnan.servlet.DeleteClassIfoCheckServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeleteClassIfoCheckServlet</servlet-name>
		<url-pattern>/admin/deleteClassIfoCheckServlet</url-pattern>
	</servlet-mapping>
	
	<!-- 2018.06.13 DeleteMajorIfoCheckServlet -->
	<servlet>
		<servlet-name>DeleteMajorIfoCheckServlet</servlet-name>
		<servlet-class>en.edu.lingnan.servlet.DeleteMajorIfoCheckServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeleteMajorIfoCheckServlet</servlet-name>
		<url-pattern>/admin/deleteMajorIfoCheckServlet</url-pattern>
	</servlet-mapping>
	
	<!-- 2018.06.13 DeleteClassScheduleCheckServlet -->
	<servlet>
		<servlet-name>DeleteClassScheduleInfoServlet</servlet-name>
		<servlet-class>en.edu.lingnan.servlet.DeleteClassScheduleInfoServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeleteClassScheduleInfoServlet</servlet-name>
		<url-pattern>/admin/deleteClassScheduleInfoServlet</url-pattern>
	</servlet-mapping>
	
	<!-- 2018.06.14 SelectClassScheduleServlet -->
	<servlet>
		<servlet-name>SelectClassScheduleServlet</servlet-name>
		<servlet-class>en.edu.lingnan.servlet.SelectClassScheduleServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SelectClassScheduleServlet</servlet-name>
		<url-pattern>/admin/selectClassScheduleServlet</url-pattern>
	</servlet-mapping>
	
	<!-- 2018.06.14 SelectClassIfoServlet -->
	<servlet>
		<servlet-name>SelectClassIfoServlet</servlet-name>
		<servlet-class>en.edu.lingnan.servlet.SelectClassIfoServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SelectClassIfoServlet</servlet-name>
		<url-pattern>/admin/selectClassIfoServlet</url-pattern>
	</servlet-mapping>
	
	<!-- 2018.06.14 SelectMajorIfoServlet -->
	<servlet>
		<servlet-name>SelectMajorIfoServlet</servlet-name>
		<servlet-class>en.edu.lingnan.servlet.SelectMajorIfoServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SelectMajorIfoServlet</servlet-name>
		<url-pattern>/admin/selectMajorIfoServlet</url-pattern>
	</servlet-mapping>
	<!-- 2018.06.14 SelectClassScheduleByCSID -->
	<servlet>
		<servlet-name>SelectClassScheduleByCSID</servlet-name>
		<servlet-class>en.edu.lingnan.servlet.SelectClassScheduleByCSID</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SelectClassScheduleByCSID</servlet-name>
		<url-pattern>/admin/selectClassScheduleByCSID</url-pattern>
	</servlet-mapping>  
	<!-- 2018-6-18chenxia -->
	<!-- 2018.06.15 -->
 	<servlet>
        <servlet-name>FindAllTeacher_scheduleInfoServlet</servlet-name>
        <servlet-class>en.edu.lingnan.servlet.FindAllTeacher_scheduleInfoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FindAllTeacher_scheduleInfoServlet</servlet-name>
        <url-pattern>/admin/findAllTeacher_scheduleInfoServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SearchTeacher_scheduleInfoServlet</servlet-name>
        <servlet-class>en.edu.lingnan.servlet.SearchTeacher_scheduleInfoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SearchTeacher_scheduleInfoServlet</servlet-name>
        <url-pattern>/admin/searchTeacher_scheduleInfoServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>FindTeacher_scheduleByTsnoServlet</servlet-name>
        <servlet-class>en.edu.lingnan.servlet.FindTeacher_scheduleByTsnoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FindTeacher_scheduleByTsnoServlet</servlet-name>
        <url-pattern>/admin/findTeacher_scheduleByTsnoServlet</url-pattern>
    </servlet-mapping>
     <servlet>
        <servlet-name>UpdateTeacher_scheduleServlet</servlet-name>
        <servlet-class>en.edu.lingnan.servlet.UpdateTeacher_scheduleServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateTeacher_scheduleServlet</servlet-name>
        <url-pattern>/admin/updateTeacher_scheduleServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DeleteTeacher_scheduleInfoByTsnoServlet</servlet-name>
        <servlet-class>en.edu.lingnan.servlet.DeleteTeacher_scheduleInfoByTsnoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteTeacher_scheduleInfoByTsnoServlet</servlet-name>
        <url-pattern>/admin/deleteTeacher_scheduleInfoByTsnoServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AddTeacher_scheduleServlet</servlet-name>
        <servlet-class>en.edu.lingnan.servlet.AddTeacher_scheduleServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddTeacher_scheduleServlet</servlet-name>
        <url-pattern>/admin/addTeacher_scheduleServlet</url-pattern>
    </servlet-mapping>
    
   <!-- xiaorong -->
   <!--查找所有专业课程表 -->
 <servlet>
 <servlet-name>SearchAllMajorSchedule</servlet-name>
 <servlet-class>en.edu.lingnan.servlet.SearchAllMajorSchedule</servlet-class>
 </servlet>
 <servlet-mapping>
 <servlet-name>SearchAllMajorSchedule</servlet-name>
 <url-pattern>/admin/searchAllMajorSchedule</url-pattern>
 </servlet-mapping>
 
  
 

 
   <!--更改专业课程信息 -->
 <servlet>
 <servlet-name>UpdateMajorSchedule</servlet-name>
 <servlet-class>en.edu.lingnan.servlet.UpdateMajorSchedule</servlet-class>
 </servlet>
 <servlet-mapping>
 <servlet-name>UpdateMajorSchedule</servlet-name>
 <url-pattern>/admin/updateMajorSchedule</url-pattern>
 </servlet-mapping>
 
 <!--删除专业课程信息 -->
 <servlet>
 <servlet-name>DeleteMajorScheduleServlet</servlet-name>
 <servlet-class>en.edu.lingnan.servlet.DeleteMajorScheduleServlet</servlet-class>
 </servlet>
 <servlet-mapping>
 <servlet-name>DeleteMajorScheduleServlet</servlet-name>
 <url-pattern>/admin/deleteMajorScheduleServlet</url-pattern>
 </servlet-mapping>

 <!--批量删除专业课程信息 -->
 <servlet>
 <servlet-name>DeleteCheckServlet</servlet-name>
 <servlet-class>en.edu.lingnan.servlet.DeleteCheckServlet</servlet-class>
 </servlet>
 <servlet-mapping>
 <servlet-name>DeleteCheckServlet</servlet-name>
 <url-pattern>/admin/deleteCheckServlet</url-pattern>
 </servlet-mapping>


 <!--添加专业课程信息时，检验CourseID是否已存在 -->
 <servlet>
 <servlet-name>CourseIDCheckServlet</servlet-name>
 <servlet-class>en.edu.lingnan.servlet.CourseIDCheckServlet</servlet-class>
 </servlet>
 <servlet-mapping>
 <servlet-name>CourseIDCheckServlet</servlet-name>
 <url-pattern>/admin/courseIDCheckServlet</url-pattern>
 </servlet-mapping>
 
 <!--添加专业课程信息时，检验MajorID是否存在 -->
 <servlet>
 <servlet-name>MajorIDCheckServlet</servlet-name>
 <servlet-class>en.edu.lingnan.servlet.MajorIDCheckServlet</servlet-class>
 </servlet>
 <servlet-mapping>
 <servlet-name>MajorIDCheckServlet</servlet-name>
 <url-pattern>/admin/majorIDCheckServlet</url-pattern>
 </servlet-mapping>
 
  <!--添加专业课程信息 -->
 <servlet>
 <servlet-name>AddMajorScheduleServlet</servlet-name>
 <servlet-class>en.edu.lingnan.servlet.AddMajorScheduleServlet</servlet-class>
 </servlet>
 <servlet-mapping>
 <servlet-name>AddMajorScheduleServlet</servlet-name>
 <url-pattern>/admin/addMajorScheduleServlet</url-pattern>
 </servlet-mapping>
 
 
   <!--搜索一条专业课程信息 -->
 <servlet>
 <servlet-name>SearchByCourseID</servlet-name>
 <servlet-class>en.edu.lingnan.servlet.SearchByCourseID</servlet-class>
 </servlet>
 <servlet-mapping>
 <servlet-name>SearchByCourseID</servlet-name>
 <url-pattern>/admin/searchByCourseID</url-pattern>
 </servlet-mapping>
<!--查找所有学生信息 -->
 <servlet>
 <servlet-name>SearchAllStuInfo</servlet-name>
 <servlet-class>en.edu.lingnan.servlet.SearchAllStuInfo</servlet-class>
 </servlet>
 <servlet-mapping>
 <servlet-name>SearchAllStuInfo</servlet-name>
 <url-pattern>/admin/searchAllStuInfo</url-pattern>
 </servlet-mapping>
 
 
   
    <!--2018-06-09 XuJinghui-->
    <servlet>
      <servlet-name>FindTeacherInformationServlet</servlet-name>
      <servlet-class>en.edu.lingnan.servlet.FindTeacherInformationServlet</servlet-class>
    </servlet>
    <servlet-mapping>
      <servlet-name>FindTeacherInformationServlet</servlet-name>
      <url-pattern>/admin/findTeacherInformationServlet</url-pattern>
    </servlet-mapping>
    <!--2018-06-10 XuJinghui-->
    <servlet>
      <servlet-name>UpdateTeacherInformationServlet</servlet-name>
      <servlet-class>en.edu.lingnan.servlet.UpdateTeacherInformationServlet</servlet-class>
    </servlet>
    <servlet-mapping>
      <servlet-name>UpdateTeacherInformationServlet</servlet-name>
      <url-pattern>/admin/updateTeacherInformationServlet</url-pattern>
    </servlet-mapping>
    <servlet>
      <servlet-name>FindTeacherInfoById</servlet-name>
      <servlet-class>en.edu.lingnan.servlet.FindTeacherInfoById</servlet-class>
    </servlet>
    <servlet-mapping>
      <servlet-name>FindTeacherInfoById</servlet-name>
      <url-pattern>/admin/findTeacherInfoById</url-pattern>
    </servlet-mapping>
    
    
    
	<!--2018-06-11 XJH-->
    <servlet>
      <servlet-name>FindTeacherCourseServlet</servlet-name>
      <servlet-class>en.edu.lingnan.servlet.FindTeacherCourseServlet</servlet-class>
    </servlet>
    <servlet-mapping>
      <servlet-name>FindTeacherCourseServlet</servlet-name>
      <url-pattern>/admin/findTeacherCourseServlet</url-pattern>
    </servlet-mapping> 
    <!--2018-06-14 XJH-->
    <servlet>
      <servlet-name>DeleteTeacherInformationServlet</servlet-name>
      <servlet-class>en.edu.lingnan.servlet.DeleteTeacherInformationServlet</servlet-class>
    </servlet>
    <servlet-mapping>
      <servlet-name>DeleteTeacherInformationServlet</servlet-name>
      <url-pattern>/admin/deleteTeacherInformationServlet</url-pattern>
    </servlet-mapping> 
    <!--2018-06-14 XJH-->
    <servlet>
      <servlet-name>AddTeacherInformationServlet</servlet-name>
      <servlet-class>en.edu.lingnan.servlet.AddTeacherInformationServlet</servlet-class>
    </servlet>
    <servlet-mapping>
      <servlet-name>AddTeacherInformationServlet</servlet-name>
      <url-pattern>/admin/addTeacherInformationServlet</url-pattern>
    </servlet-mapping> 
    <!--2018-06-16 XJH-->
    <servlet>
      <servlet-name>AddTeacherCourseServlet</servlet-name>
      <servlet-class>en.edu.lingnan.servlet.AddTeacherCourseServlet</servlet-class>
    </servlet>
    <servlet-mapping>
      <servlet-name>AddTeacherCourseServlet</servlet-name>
      <url-pattern>/admin/addTeacherCourseServlet</url-pattern>
    </servlet-mapping> 
    <!--2018-06-16 XJH-->
    <servlet>
      <servlet-name>UpdateTeacherCourseServlet</servlet-name>
      <servlet-class>en.edu.lingnan.servlet.UpdateTeacherCourseServlet</servlet-class>
    </servlet>
    <servlet-mapping>
      <servlet-name>UpdateTeacherCourseServlet</servlet-name>
      <url-pattern>/admin/updateTeacherCourseServlet</url-pattern>
    </servlet-mapping>
    <!--2018-06-16 XJH-->
    <servlet>
      <servlet-name>FindTeacherCourseById</servlet-name>
      <servlet-class>en.edu.lingnan.servlet.FindTeacherCourseById</servlet-class>
    </servlet>
    <servlet-mapping>
      <servlet-name>FindTeacherCourseById</servlet-name>
      <url-pattern>/admin/findTeacherCourseById</url-pattern>
    </servlet-mapping> 
    <!--2018-06-16 XJH-->
    <servlet>
      <servlet-name>DeleteTeacherInfoCheckServlet</servlet-name>
      <servlet-class>en.edu.lingnan.servlet.DeleteTeacherInfoCheckServlet</servlet-class>
    </servlet>
    <servlet-mapping>
      <servlet-name>DeleteTeacherInfoCheckServlet</servlet-name>
      <url-pattern>/admin/deleteTeacherInfoCheckServlet</url-pattern>
    </servlet-mapping> 
    <!--2018-06-16 XJH-->
    <servlet>
      <servlet-name>DeleteTeacherCourseServlet</servlet-name>
      <servlet-class>en.edu.lingnan.servlet.DeleteTeacherCourseServlet</servlet-class>
    </servlet>
    <servlet-mapping>
      <servlet-name>DeleteTeacherCourseServlet</servlet-name>
      <url-pattern>/admin/deleteTeacherCourseServlet</url-pattern>
    </servlet-mapping> 
    <!--2018-06-16 XJH-->
    <servlet>
      <servlet-name>DeleteTeacherCourseCheckServlet</servlet-name>
      <servlet-class>en.edu.lingnan.servlet.DeleteTeacherCourseCheckServlet</servlet-class>
    </servlet>
    <servlet-mapping>
      <servlet-name>DeleteTeacherCourseCheckServlet</servlet-name>
      <url-pattern>/admin/deleteTeacherCourseCheckServlet</url-pattern>
    </servlet-mapping> 
    <!--2018-06-17 XJH-->
    <servlet>
      <servlet-name>SelectTeacherInformation</servlet-name>
      <servlet-class>en.edu.lingnan.servlet.SelectTeacherInformation</servlet-class>
    </servlet>
    <servlet-mapping>
      <servlet-name>SelectTeacherInformation</servlet-name>
      <url-pattern>/admin/selectTeacherInformation</url-pattern>
    </servlet-mapping>
    	<!-- 2018-6-18 me --> 
     <servlet>
        <servlet-name>LogoutServlet </servlet-name>
        <servlet-class>en.edu.lingnan.servlet.logoutServlet </servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogoutServlet </servlet-name>
        <url-pattern>/admin/logoutServlet </url-pattern>
    </servlet-mapping>
    
    <!--2018-06-17 XJH-->
    <servlet>
      <servlet-name>SelectTeacherCourse</servlet-name>
      <servlet-class>en.edu.lingnan.servlet.SelectTeacherCourse</servlet-class>
    </servlet>
    <servlet-mapping>
      <servlet-name>SelectTeacherCourse</servlet-name>
      <url-pattern>/admin/selectTeacherCourse</url-pattern>
    </servlet-mapping>
     <!--2018-06-17 xiaorong--> 
  <servlet>
        <servlet-name>TeaInfoUpdate</servlet-name>
        <servlet-class>en.edu.lingnan.servlet.TeaInfoUpdate</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TeaInfoUpdate</servlet-name>
        <url-pattern>/teacher/teaInfoUpdate</url-pattern>
    </servlet-mapping>
    
    <servlet>
 <servlet-name>RegisterServlet</servlet-name>
 <servlet-class>en.edu.lingnan.servlet.RegisterServlet</servlet-class>
 </servlet>
 <servlet-mapping>
 <servlet-name>RegisterServlet</servlet-name>
 <url-pattern>/registerServlet</url-pattern>
 </servlet-mapping> 
 
    <servlet>
 <servlet-name>UserIdCheckServlet</servlet-name>
 <servlet-class>en.edu.lingnan.servlet.UserIdCheckServlet</servlet-class>
 </servlet>
 <servlet-mapping>
 <servlet-name>UserIdCheckServlet</servlet-name>
 <url-pattern>/userIdCheckServlet</url-pattern>
 </servlet-mapping> 
    
      <!--2018-06-17 chenxia--> 
 <servlet>
        <servlet-name>UpdateInfoServlet</servlet-name>
        <servlet-class>en.edu.lingnan.servlet.UpdateInfoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateInfoServlet</servlet-name>
        <url-pattern>/student/updateInfoServlet</url-pattern>
    </servlet-mapping>  
     <servlet>
        <servlet-name>FindStudentPersonalInfoServlet</servlet-name>
        <servlet-class>en.edu.lingnan.servlet.FindStudentPersonalInfoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FindStudentPersonalInfoServlet</servlet-name>
        <url-pattern>/admin/findStudentPersonalInfoServlet</url-pattern>
    </servlet-mapping>
    
  <!--2018-06-20 Procedure3  mai--> 
 <servlet>
        <servlet-name>Procedure3</servlet-name>
        <servlet-class>en.edu.lingnan.servlet.Procedure3</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Procedure3</servlet-name>
        <url-pattern>/admin/procedure3</url-pattern>
    </servlet-mapping>
    
     <!--2018-06-20 SelectProcedure3Servlet--> 
 <servlet>
        <servlet-name>SelectProcedure3Servlet</servlet-name>
        <servlet-class>en.edu.lingnan.servlet.SelectProcedure3Servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SelectProcedure3Servlet</servlet-name>
        <url-pattern>/admin/selectProcedure3Servlet</url-pattern>
    </servlet-mapping>
    
    <!--2018-06-20 Procedure1--> 
 <servlet>
        <servlet-name>Procedure1</servlet-name>
        <servlet-class>en.edu.lingnan.servlet.Procedure1</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Procedure1</servlet-name>
        <url-pattern>/admin/procedure1</url-pattern>
    </servlet-mapping>
    
    <!--2018-06-20 SelectProcedure1Servlet--> 
 <servlet>
        <servlet-name>SelectProcedure1Servlet</servlet-name>
        <servlet-class>en.edu.lingnan.servlet.SelectProcedure1Servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SelectProcedure1Servlet</servlet-name>
        <url-pattern>/admin/selectProcedure1Servlet</url-pattern>
    </servlet-mapping>  
</web-app>